.navbar {
  background-color: getColour(content-background-colour) !important;
  color: getColor(nav-font-colour);
  position: fixed;
  z-index: 2;
  width: 100%;

  .navbar-brand {
    font-size: xx-large;
    color: getColour(brand-font-colour);
  }

  .navbar-toggler {
    border: none;
  }

  button:focus {
    outline: none;
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border: none;
    background-image: none;
  }

  .navbar-nav .active > .nav-link {
    color: getColour(primary-colour);
  }
}

@media (max-width: 575.98px) {
  ul {
    width: 100%;
    text-align: left;
    padding: 15px;
    background-color: getColour(content-background-colour) !important;
  }
}
